<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MeCountingStars</title>
  <link href="/stylesheets/reset.css" rel="stylesheet" /> 
</head>
<body>
  <div id="app">If show this, the js bundle is not working!!!</div>
  <script src="/build/dist/javascripts.bundle.js"></script>
</body>
</html>