body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DEE1E2;
}


.loadingGif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.4, 0.4);
}

